:root{
  --primary-color: #E60012;
  --secondary-color:rgb(75, 75, 75);
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 18px;
  --size-xl:24px;
}

body{
  font-family: 'Lato', sans-serif;
}

.title{
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: var(--size-xl);
  color:var(--secondary-color);
}